{% extends 'base.html.twig' %}


{% block body %}

<title>Apparences - accueil</title>



  <br>
  <br>

        <div class="container">
        <div class="row">
      <div class="col s12 center">
        <div class="progress">
      <div class="indeterminate"></div>
  </div>
      <h3>Site en cours de construction...</h3>
      <p>Contacter l'entreprise<p>
      <p>Email : fredduault@hotmail.com </p>
      <p>Téléphone : </p>
      </div>
      </div>
      </div>
      

  <script>
    $(document).ready(function(){
    $('.slider').slider();
  });
  </script>

{% endblock %}
